@font-face {
  font-family: "Proximanova Bold";
  src: url("../font/proximanova_bold.eot") format("embedded-opentype"),
  url("../font/proximanova_bold.woff") format("woff"),
  url("../font/proximanova_bold.woff2") format("woff2"),
  url("../font/proximanova_bold.ttf") format("truetype");
}

@font-face {
  font-family: "Proximanova Semibold";
  src: url("../font/proximanova_semibold.eot") format("embedded-opentype"),
  url("../font/proximanova_semibold.woff") format("woff"),
  url("../font/proximanova_semibold.woff2") format("woff2"),
  url("../font/proximanova_semibold.ttf") format("truetype");
}

@font-face {
  font-family: "Proximanova Regular";
  src: url("../font/proximanova_regular.eot") format("embedded-opentype"),
  url("../font/proximanova_regular.woff") format("woff"),
  url("../font/proximanova_regular.woff2") format("woff2"),
  url("../font/proximanova_regular.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway Regular";
  src: url("../font/raleway_regular.eot") format("embedded-opentype"),
  url("../font/raleway_regular.woff") format("woff"),
  url("../font/raleway_regular.woff2") format("woff2"),
  url("../font/raleway_regular.ttf") format("truetype");
}