@import "variables/variables";
@import "mixins/mixins";
@import "fonts/fonts";

html{
    scroll-behavior: smooth;

    *{
        margin: 0;
        padding: 0;
        list-style-type: none;
        text-decoration: none;
        border: none;

    }
    body{
        background: #FFFFFF;
        .container{
            margin: 0 auto;
            padding-left: 28px;
            padding-right: 28px;
            @include lg{
                padding-left: 28px;
                padding-right: 28px;
            }
        }

        .--flex{
            display: flex;
        }

        header{
            padding-top: 32px;
            background-image: url("../img/Background-landing.svg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: bottom;
            min-height: 778px;
            @include md{
                padding-top: 26px;
            }
            @include xs{
                min-height: 764px;
            }
            .container--nav{
                max-width: 1152px;
                nav{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    @include md{
                        flex-wrap: wrap;
                    }
                    .nav__logo{
                        a{
                            display: inline-block;
                            height: 100%;
                            width: 100%;
                            img{
                                height: 100px;
                                width: 78px;
                                @include md{
                                    height: 50px;
                                    width: 39px;
                                }
                            }
                        }
                    }
                    .nav__toggler.active{

                    }
                    .nav__toggler{
                        display: none;
                        width: 32px;
                        height: 32px;
                        align-items: center;
                        justify-content: center;
                        @include md{
                            display: flex;
                        }
                        span{
                            display: inline-block;
                            width: 24px;
                            height: 3px;
                            border-radius: 50px;
                            background: $white-color;
                            position: relative;
                            &:before, &:after{
                                content: "";
                                display: block;
                                background: $white-color;
                                position: absolute;
                                width: 100%;
                                border-radius: 50px;
                                height: 100%;
                            }
                            &:before{
                                top: 8px;
                            }
                            &:after{
                                bottom: 8px;
                            }
                            &:hover{
                                cursor: pointer;
                            }
                        }
                    }
                    .nav__menu.active{
                        height: 168px;
                        visibility: visible;
                        opacity: 1;
                        transition: .3s;
                        .nav__menu-list{

                        }

                    }
                    .nav__menu{
                        margin-top: 7px;
                        transition: .3s;
                        display: flex;
                        @include md{
                            width: 100%;
                            justify-content: end;
                            visibility: hidden;
                            height: 0;
                            opacity: 0;
                            transition: opacity .3s ;
                            transition: height .4s;
                        }
                        .nav__menu-list{
                            display: flex;
                            @include md{
                                flex-direction: column;
                            }
                            .nav__menu-list-item{
                                margin-left: 28px;
                                position: relative;
                                @include md{
                                    margin-left: unset;
                                    margin-bottom: 10px;
                                    text-align: right;

                                }
                                a{
                                    font-family: $proxima-bold;
                                    font-style: normal;
                                    font-weight: 700;
                                    font-size: 15px;
                                    line-height: 18px;
                                    color: $white-color;
                                    text-transform: uppercase;
                                }
                                &:first-child{
                                    margin-left: unset;
                                }
                                &:after{
                                    content: "";
                                    display: block;
                                    bottom: -8px;
                                    width: 120%;
                                    left: calc(0px - 10%);
                                    position: absolute;
                                    height: 0;
                                    background: $orange-color;
                                    opacity: 0;
                                    transition: .3s;
                                }
                                &:hover{
                                    &:after{
                                        height: 3px;
                                        opacity: 1;
                                        transition: .3s;
                                    }
                                }
                            }
                        }

                    }
                }
            }
            .container--landing-slider{
                position: relative;
                max-width: 1500px;
                margin-top: 124px;
                @include md{
                    margin-top: 45px;
                }
                .landing-slider__dots{
                    position: absolute;
                    right: 30px;
                    top: -5px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    height: 100%;
                    @include xs{
                        display: none;
                    }
                    .landing-slider__dots-item{
                        cursor: pointer;
                        width: 19px;
                        height: 22px;
                        margin-bottom: 12px;
                        background-image: url("../img/slider-dot.svg");
                        background-position: center;
                        background-repeat: no-repeat;
                        &:last-child{
                            margin-bottom: unset;
                        }
                    }
                    .landing-slider__dots-item.active{
                        background-image: url("../img/slider-dot-active.svg");
                    }
                }
                .header__landing-slider.landing-slider{
                    //border: 2px solid black;
                    overflow: hidden;
                    .landing-slider__line{
                        display: flex;
                        transition: all ease 1s;
                        .landing-slider__item{
                            .container--slider-item{
                                max-width: 1152px;
                                display: flex;
                                flex-wrap: wrap;
                                padding-left: unset;
                                padding-right: unset;

                                .header__landing-container{
                                    display: flex;
                                    width: 100%;
                                    .header__landing-left.landing-left{


                                        margin-left: 82px;
                                        @include sm{
                                            margin-left: unset;
                                        }

                                        .landing-left__title{
                                            font-family: $proxima-bold;
                                            font-style: normal;
                                            font-weight: 700;
                                            font-size: 55px;
                                            line-height: 55px;
                                            color: $white-color;
                                            max-width: 552px;
                                            @include xs{
                                                max-width: 214px;
                                                font-size: 32px;
                                                line-height: 40px;
                                            }
                                        }
                                        .landing-left__text{
                                            margin-top: 12px;
                                            font-family: $proxima-semibold;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 16px;
                                            line-height: 30px;
                                            color: $white-color;
                                            max-width: 548px;
                                            @include xs{
                                                margin-top: 16px;
                                                max-width: 319px;
                                                font-size: 16px;
                                                line-height: 20px;

                                            }
                                            span{
                                                word-wrap: break-word;
                                            }
                                        }
                                        .landing-left__btn{
                                            font-family: $proxima-bold;
                                            margin-top: 44px;
                                            cursor: pointer;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            font-style: normal;
                                            font-weight: 700;
                                            font-size: 14px;
                                            line-height: 45px;
                                            color: $white-color;
                                            width: 174px;
                                            height: 53px;
                                            background: $orange-color;
                                            border-radius: 4px;
                                            @include xs{
                                                margin-top: 28px;
                                            }
                                        }
                                    }
                                    .header__landing-right.landing-right{
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        margin-left: 220px;
                                        padding-top: 10px;
                                        @include lg{
                                            justify-content: end;
                                            margin-right: 100px;
                                        }
                                        @include md{
                                            justify-content: center;
                                            padding-top: unset;
                                            margin-bottom: 64px;
                                            margin-left: unset;
                                            margin-right: unset;
                                        }
                                        img{
                                            height: 124px;
                                            width: 151px;
                                            @include md{
                                                height: 84px;
                                                width: 100px;
                                            }



                                        }
                                    }
                                    @include md{
                                        flex-direction: column-reverse;

                                    }
                                }
                            }
                        }
                    }
                }
            }
            .container--landing-arrow{
                max-width: 1500px;
                .header__landing-arrow.landing-arrow{
                    margin-top: 135px;
                    width: 100%;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    flex-direction: column;
                    padding-bottom: 50px;
                    //@include lg{
                    //    padding-bottom: 50px;
                    //}
                    @include xs{
                        margin-top: 68px;
                    }
                    .landing-arrow__text{
                        font-family: $proxima-bold;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 15px;
                        line-height: 20px;
                        color: $white-color;
                        @include xs{
                            font-size: 13px;
                            line-height: 20px;
                        }
                    }
                    .landing-arrow__btn{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-top: 19px;
                        a{
                            transition: ease-in-out .25s;
                            &:hover{
                                transition: ease-in-out .25s;
                                transform: translateY(3px);
                            }
                            img{
                                height: 71px;
                                width: 62px;
                            }
                        }
                    }
                }
            }
        }
        .important-data{
            padding-top: 133px;
            padding-bottom: 131px;
            @include xs{
                padding-top: 80px;
            }
            .container.container--important-data{
                max-width: 900px;
                .important-data__list{
                    display: flex;
                    justify-content: space-between;
                    @include md{
                        flex-wrap: wrap;
                        justify-content: space-evenly;
                    }
                    .important-data__list-wrapper{
                        @include md{
                            padding: 0 23px;
                            &:last-child{
                                margin-top: 40px;
                            }
                        }
                        @include sm{
                            width: 100%;
                            padding: unset;
                            margin-top: 68px;
                            &:first-child{
                                margin-top: unset;
                            }
                            &:last-child{
                                margin-top: 68px;
                            }
                        }

                        .important-data__list-item{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            .important-data__value{
                                max-width: 223px;
                                font-family: $proxima-bold;
                                font-style: normal;
                                font-weight: 700;
                                font-size: 60px;
                                line-height: 68px;
                                color: $purple-color;
                                text-align: center;
                                @include xs{
                                    font-size: 42px;
                                    line-height: 50px;
                                }
                            }
                            .important-data__text{
                                margin-top: 14px;
                                max-width: 255px;
                                font-family: $proxima-bold;
                                font-style: normal;
                                font-weight: 700;
                                font-size: 16px;
                                line-height: 18px;
                                text-align: center;
                                letter-spacing: -0.02em;
                                text-transform: uppercase;
                                color: $purple-color;
                                @include xs{
                                    font-size: 13px;
                                    line-height: 16px;
                                    margin-top: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .what-we-do{
            padding-top: 145px;
            background: #f8f8f8;
            padding-bottom: 50px;
            @include xs{
                padding-top: 32px;
            }
            .container.container--what-we-do{
                max-width: 986px;
                .what-we-do__title{
                    margin-bottom: 68px;
                    text-transform: capitalize;
                    padding-right: 54px;
                    display: flex;
                    justify-content: end;
                    font-family: $proxima-bold;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 60px;
                    line-height: 72px;
                    color: $purple-color;
                    position: relative;
                    @include xs{
                        font-size: 34px;
                        line-height: 72px;
                        margin-right: 8px;
                        margin-bottom: 38px;
                    }
                    &:after{
                        position: absolute;
                        content: "";
                        width: 46px;
                        height: 46px;
                        background-image: url('../img/angle.svg');
                        background-repeat: no-repeat;
                        background-size: cover;
                        top: -25px;
                        right: -12px;
                        @include xs{
                            top: -16px;
                            right: 3px;
                        }
                    }
                }
                .what-we-do__list{
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    @include md{
                        justify-content: space-evenly;
                    }
                    @include sm{
                        justify-content: unset;
                        flex-direction: column;
                        align-items: center;
                    }
                    @include xs{
                        align-items: start;
                    }

                    .what-we-do__list-wrapper{
                        max-width: 280px;
                        margin-bottom: 70px;
                        @include md{
                            padding-left: 35px;
                            padding-right: 35px;
                        }
                        @include xs{
                            padding-left: 25px;
                            padding-right: 25px;
                        }
                        .what-we-do__list-item.what-we-do__item{

                            .what-we-do__item-img{
                                @include xs{
                                    display: flex;
                                    justify-content: center;
                                    margin: unset;
                                    padding: unset;
                                }
                                img{

                                }
                            }
                            .what-we-do__item-title{
                                margin-top: 25px;
                                font-family: $proxima-bold;
                                font-style: normal;
                                font-weight: 700;
                                font-size: 18px;
                                line-height: 20px;
                                letter-spacing: -0.03em;
                                text-transform: uppercase;
                                color: $purple-color;
                                @include xs{
                                    margin-top: 26px;
                                }
                            }
                            .what-we-do__item-description{
                                margin-top: 8px;
                                font-family: $proxima-regular;
                                font-style: normal;
                                font-weight: 400;
                                font-size: 15px;
                                line-height: 19px;
                                letter-spacing: -0.008em;
                                color: $gray-color;
                                @include xs{
                                    margin-top: 10px;
                                }
                            }
                        }
                        .what-we-do__list-item--device-auth{
                            .what-we-do__item-img{
                                margin-left: 39px;
                                img{
                                    width: 142px;
                                    height: 146px;
                                    @include xs{
                                        height: 109px;
                                        width: 106px;
                                    }
                                }
                            }
                            .what-we-do__item-title{
                                max-width: 215px;
                            }
                            .what-we-do__item-description{
                                max-width: 271px;
                            }
                        }
                        .what-we-do__list-item--user-authentication{
                            .what-we-do__item-img{
                                margin-left: 40px;
                                img{
                                    width: 160px;
                                    height: 150px;
                                    @include xs{
                                        height: 100px;
                                        width: 106px;
                                    }
                                }
                            }
                            .what-we-do__item-title{
                                max-width: 241px;
                            }
                            .what-we-do__item-description{
                                max-width: 241px;
                            }
                        }
                        .what-we-do__list-item--transaction-authentication{
                            .what-we-do__item-img{
                                margin-left: 57px;
                                margin-top: -6px;
                                img{
                                    width: 150px;
                                    height: 150px;
                                    @include xs{
                                        width: 100px;
                                        height: 100px;
                                    }
                                }
                            }
                            .what-we-do__item-title{

                            }
                            .what-we-do__item-description{

                            }
                        }
                        .what-we-do__list-item--authentication-methods{
                            .what-we-do__item-img{
                                margin-left: 52px;
                                margin-top: 4px;
                                img{
                                    width: 139px;
                                    height: 132px;
                                    @include xs{
                                        width: 100px;
                                        height: 105px;
                                    }
                                }
                            }
                            .what-we-do__item-title{
                                margin-top: 25px;
                            }
                            .what-we-do__item-description{
                                margin-top: 6px;
                            }
                        }
                        .what-we-do__list-item--hsm-solutions{
                            margin-left: 15px;
                            @include sm{
                                margin-left: unset;
                            }
                            .what-we-do__item-img{
                                margin-left: 40px;
                                margin-top: 7px;
                                img{
                                    width: 191px;
                                    height: 127px;
                                    @include xs{
                                        width: 191px;
                                        height: 127px;
                                    }
                                }
                            }
                            .what-we-do__item-title{

                            }
                            .what-we-do__item-description{

                            }
                        }
                        .what-we-do__list-item--security{
                            margin-top: 28px;
                            @include md{
                                margin-top: -5px;
                            }
                            .what-we-do__item-img{
                                margin-left: 29px;
                                img{
                                    width: 210px;
                                    height: 108px;
                                    @include xs{
                                        width: 210px;
                                        height: 108px;
                                    }
                                }
                            }
                            .what-we-do__item-title{

                            }
                            .what-we-do__item-description{

                            }
                        }
                    }
                }
            }
        }


        .product-spotlight {
            padding-top: 110px;
            padding-bottom: 98px;
            @include xs{
                padding-top: 32px;
            }

            .container.container--product-spotlight {
                max-width: 1275px;
                justify-content: space-between;
                @include xl{
                    align-items: center;
                }
                display: flex;

                @include md {
                    flex-direction: column;
                    justify-content: unset;
                }
                @include sm{
                    align-items: unset;
                }

                .product-spotlight__left {
                    max-width: 455px;
                    padding-top: 96px;
                    @include xl{
                        padding-top: unset;
                    }

                    .product-spotlight__title {
                        font-family: $proxima-bold;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 40px;
                        line-height: 55px;
                        color: $purple-color;
                        @include xs{
                            font-size: 24px;
                            line-height: 32px;
                        }
                    }

                    .product-spotlight__description {
                        margin-top: 10px;
                        font-family: $proxima-regular;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 21px;
                        letter-spacing: -0.02em;
                        color: $gray-color;
                        @include xs{
                            margin-top: 15px;
                            font-size: 15px;
                            line-height: 21px;
                            max-width: 295px;
                        }
                    }

                    .product-spotlight__btn {
                        cursor: pointer;
                        margin-top: 26px;
                        width: 171px;
                        height: 44px;
                        background: $orange-color;
                        border-radius: 4px;
                        font-family: $proxima-bold;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 18px;
                        color: $white-color;
                        text-transform: uppercase;
                        @include box-shadow-btn;
                        @include md{
                            display: none;
                        }
                    }
                }

                .product-spotlight__right {
                    margin-right: -25px;
                    margin-left: 25px;
                    max-width: 724px;
                    width: 100%;
                    @include xl{
                        margin-right: unset;
                    }
                    @include md {
                        margin-left: unset;
                        margin-top: 28px;
                    }

                    .product-spotlight__player-preview {
                        height: 0;
                        padding-bottom: 61.32%;
                        background-image: url("../img/player-preview.png");
                        background-repeat: no-repeat;
                        background-size: cover;
                        position: relative;
                        @include retina(){
                            background-image: url("../img/player-preview.png");
                        }

                        .product-spotlight__player-open-btn.player-open-btn {
                            position: absolute;
                            top: calc(50% - (48px));
                            left: calc(50% - (74px));
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                            @include xl{
                                top: calc(50% - (57.5px));
                                left: calc(50% - (60px));
                            }
                            @include xs{
                                top: calc(50% - (15px));
                                left: calc(50% - (40px));
                            }
                            img {
                                cursor: pointer;
                                width: 77px;
                                height: 77px;
                                @include xs{
                                    width: 34px;
                                    height: 34px;
                                }
                            }

                            .player-open-btn__text {
                                margin-top: 23px;
                                font-family: $raleway-regular;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 15px;
                                line-height: 20px;
                                text-transform: uppercase;
                                color: $white-color;
                                @include xs{
                                    font-size: 10px;
                                    line-height: 14px;
                                    margin-top: 15px;
                                }
                            }
                            .player-open-btn__second-text{
                                position: absolute;
                                margin-top: 16px;
                                font-family: $raleway-regular;
                                font-style: normal;
                                font-weight: 800;
                                font-size: 32px;
                                line-height: 38px;
                                text-transform: uppercase;
                                color: $white-color;
                                width: 424px;
                                bottom: -80px;
                                left: -160px;
                                @include md{
                                    text-align: center;
                                }
                                @include xs{
                                    font-size: 13px;
                                    line-height: 22px;
                                    width: 300px;
                                    bottom: -25px;
                                    left: -110px;
                                }
                            }
                        }
                    }
                }

                .product-spotlight__more-info{
                    display: none;
                    @include md{
                        cursor: pointer;
                        margin-left: auto;
                        margin-right: auto;
                        display: block;
                        margin-top: 42px;
                        width: 171px;
                        height: 44px;
                        background: $orange-color;
                        border-radius: 4px;
                        font-family: $proxima-bold;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 18px;
                        color: $white-color;
                        text-transform: uppercase;
                        @include box-shadow-btn
                    }
                }
            }
            .product-spotlight__popup.open{
                visibility: visible;
                opacity: 1;
                transition: 1s;
            }
            .product-spotlight__popup{
                position: fixed;
                width: 100vw;
                height: 100vh;
                top: 0;
                left: 0;
                background-color: rgba(0, 0, 0, 0.8);
                opacity: 0;
                visibility: hidden;
                transition: 1s;
                z-index: 1000;

                .product-spotlight__popup-body{
                    min-height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 28px;
                    .product-spotlight__popup-content{
                        max-width: 800px;
                        width: 100%;
                        position: relative;
                        .product-spotlight__popup-close{
                            width: 30px;
                            height: 30px;
                            right: -40px;
                            top: -40px;
                            position: absolute;
                            cursor: pointer;
                            z-index: 1001;
                            @include md{
                                top: 10px;
                                right: 10px;
                            }
                            &:after, &:before{
                                content: "";
                                height: 3px;
                                position: absolute;
                                background: $white-color;
                                width: 100%;
                                top: 50%;
                                left: 0;

                            }
                            &:after{
                                transform: rotate(45deg);
                            }
                            &:before{
                                transform: rotate(-45deg);
                            }
                        }
                        .product-spotlight__popup-video{
                            max-width: inherit;
                            width: inherit;
                        }
                    }
                }
            }
        }
        section.contact-us{
            margin-bottom: 96px;
            overflow: hidden;
            padding-top: 130px;
            padding-bottom: 121px;
            background-image: url('../img/contact-us-bg.png');
            background-size: cover;
            background-repeat: no-repeat;
            @include retina(){
                background-image: url('../img/contact-us-bg.png');
            }
            @include xs{
                padding-top: 42px;
                padding-bottom: 37px;
            }
            .container.container--contact-us{
                max-width: 1195px;
                display: flex;
                justify-content: space-between;
                align-items: start;
                gap: 40px;
                @include sm{
                    flex-direction: column;
                }
                .contact-us__left{
                    flex-grow: 1;
                    .contact-us__title{
                        font-family: $proxima-bold;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 55px;
                        line-height: 55px;
                        color: $white-color;

                        @include xs{
                            margin-bottom: 6px;
                            font-size: 34px;
                            line-height: 40px;
                            max-width: 223px;
                        }
                    }

                }
                .contact-us__right{
                    flex-grow: 3;
                    margin-right: -392px;
                    @include xl{
                        margin-right: unset;
                    }
                    @include sm{
                        width: 100%;
                    }
                    .contact-us__form-title{

                        font-family: $proxima-bold;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 28px;
                        letter-spacing: -0.02666em;
                        color: $white-color;
                        margin-bottom: 52px;
                        line-height: 18px;
                        @include xs{
                            margin-bottom: 38px;
                            font-size: 20px;
                            line-height: 24px;
                        }
                    }
                    .contact-us__form{
                        max-width: 640px;

                        .contact-us__names{
                            display: flex;
                            gap: 20px;
                            @include xs{
                                display: flex;
                                flex-wrap: wrap;
                                gap: unset;
                            }
                        }
                        .contact-us__form-item{
                            box-sizing:border-box;
                            width: 100%;
                            label{
                                margin-bottom: 16px;
                                font-family: $proxima-semibold;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 13px;
                                line-height: 1px;
                                display: flex;
                                align-items: center;
                                color: $white-color;
                            }
                            .contact-us__first-name,
                            .contact-us__last-name,
                            .contact-us__email-address,
                            .contact-us__textarea {
                                font-family: $raleway-regular;
                                box-sizing: inherit;
                                padding-left: 13px;
                                padding-right: 13px;
                                width: 100%;
                                margin-bottom: 37px;
                                min-height: 40px;
                                background: $white-color;
                                border: 1px solid #292929;
                                border-radius: 8px;
                                font-size: 16px;
                                @include xs{
                                    margin-bottom: 30px;
                                }
                            }
                            .contact-us__last-name,
                            .contact-us__first-name{
                                flex-grow: 1;
                            }
                            .contact-us__email-address{

                            }
                            .contact-us__textarea{
                                margin-bottom: unset;
                                resize: none;
                                min-height: 100px;
                                padding-top: 9px;
                                padding-bottom: 9px;
                                @include xs{
                                    margin-bottom: unset;
                                    min-height: 96px;
                                }
                            }
                            .contact-us__submit{
                                cursor: pointer;
                                text-transform: uppercase;
                                width: 201px;
                                height: 53px;
                                font-family: $proxima-bold;
                                font-style: normal;
                                font-weight: 700;
                                font-size: 14px;
                                line-height: 18px;
                                color: $white-color;
                                background: #FF8B00;
                                border-radius: 4px;
                                margin-top: 26px;
                                @include xs{
                                    margin-top: 40px;
                                    margin-left: auto;
                                    margin-right: auto;
                                }
                            }
                        }
                    }
                }
            }
        }
        footer{
            background-color: #363636;
            .container.container--footer{
                max-width: 1155px;
                padding-top: 55px;
                padding-bottom: 50px;
                display: flex;
                @include md{
                    flex-direction: column;
                    align-items: center;
                }
                @include sm{
                    padding-bottom: unset;
                }
                .footer__twitter-post{
                    max-width: 299px;
                    height: 295px;
                    width: 100%;
                    background: #FFFFFF;
                    @include md{
                        margin-bottom: 60px;
                        max-width: 700px;
                    }
                    @include xs{
                        max-width: 299px;
                    }
                    .twitter-post__header {
                        display: flex;
                        background-color: $purple-color;
                        height: 60px;

                        .twitter-post__header-logo {
                            width: 60px;
                            height: 60px;
                            background-color: #5634D1;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            img {
                                width: 39px;
                                height: 39px;
                            }
                        }

                        .twitter-post__header-container {
                            display: flex;
                            justify-content: center;
                            flex-direction: column;
                            margin-left: 15px;

                            .twitter-post__header-title {
                                font-family: $proxima-semibold;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 22px;
                                line-height: 18px;
                                letter-spacing: 0.008em;
                                color: $white-color;
                            }

                            .twitter-post__header-subtitle {
                                margin-top: 2px;
                                font-family: $proxima-regular;
                                font-style: normal;
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 18px;
                                letter-spacing: -0.008em;
                                color: $white-color;
                            }
                        }
                    }
                    .twitter-post__main{
                        padding: 19px 32px;
                        .twitter-post__item{
                            margin-bottom: 16px;
                            &:last-child{
                                margin-bottom: unset;
                            }
                            .twitter-post__item-text{
                                span{
                                    font-family: $proxima-regular;
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 13px;
                                    line-height: 18px;
                                    letter-spacing: -0.02em;
                                    color: #999999;
                                }
                                a{
                                    font-family: $proxima-regular;
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 13px;
                                    line-height: 18px;
                                    color: $purple-color;
                                }
                            }
                            .twitter-post__item-date{
                                margin-top: 4px;
                                font-family: $proxima-regular;
                                font-style: normal;
                                font-weight: 400;
                                font-size: 11px;
                                line-height: 18px;
                                letter-spacing: -0.01em;
                                color: #555555;
                            }
                        }
                    }
                }
                .footer__list-container{
                    display: flex;
                    justify-content: space-between;
                    align-content: center;
                    margin-left: 120px;
                    max-width: 734px;
                    width: 100%;
                    @include lg{
                        margin-left: 50px;
                    }
                    @include md{
                        margin-left: unset;
                    }
                    @include sm{
                        flex-wrap: wrap;
                        justify-content: space-evenly;
                    }
                    .footer__list{
                        @include sm{
                            padding: 0 40px;
                            margin-bottom: 45px;
                            &:last-child{
                                margin-bottom: unset;
                            }
                        }
                        @include xs{
                            padding: 0 3px;
                            max-width: 110px;
                            &:last-child{
                                max-width: 210px;
                                .footer__list-title{
                                    text-align: center;
                                    margin-bottom: 19px;
                                    &:before{
                                        left: 38px;
                                    }
                                }
                            }
                        }
                        .footer__list-title{
                            font-family: $proxima-bold;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 20px;
                            text-transform: uppercase;
                            color: $orange-color;
                            padding-left: 26px;
                            position: relative;
                            margin-bottom: 20px;
                            @include xs{
                                margin-bottom: 10px;
                            }
                            &:before{
                                content: '';
                                position: absolute;
                                width: 18px;
                                height: 20px;
                                background-image: url("../img/title-dot.svg");
                                top: calc(50% - 10px);
                                left: 0;
                            }
                        }
                        .footer__list-item{
                            margin-bottom: 8px;
                            @include xs{
                                margin-bottom: 4px;
                            }
                            .footer__phone, .footer__email, a{
                                font-family: $proxima-regular;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 14px;
                                line-height: 18px;
                                color: $white-color;
                                text-transform: uppercase;
                                span{
                                    text-transform: none;
                                    margin-left: 20px;
                                }
                            }
                            a{
                                line-height: 20px;
                                position: relative;
                                &:hover{
                                    &:after{
                                        width: 70%;
                                        transition: .35s;
                                    }
                                }
                                &:after{
                                    content: '';
                                    width: 0;
                                    position: absolute;
                                    height: 2px;
                                    bottom: -3px;
                                    left: 0;
                                    background: $orange-color;
                                    transition: .35s;
                                }
                            }
                        }
                    }
                }
            }
            .footer__logo{
                margin: 0 auto;
                max-width: 1565px;
                position: relative;
                @include sm{
                    display: flex;
                    justify-content: center;
                    padding: 80px;
                }
                img{
                    top: -120px;
                    right: 20px;
                    position: absolute;
                    height: 86px;
                    width: 75px;
                    @include sm{
                        position: unset;
                        width: 88px;
                        height: 100px;
                    }
                }
            }
        }
    }
}
