extends layout/app

block page
    include module/header
    include module/important-data
    include module/what-we-do
    include module/product-spotlight
    include module/contact-us
    include module/footer