$orange-color : #FF8B00;
$purple-color : #7050E5;
$gray-color : #878787;
$white-color : #FFFFFF;
$proxima-bold : Proximanova Bold, sans-serif;
$proxima-semibold : Proximanova Semibold, sans-serif;
$proxima-regular : Proximanova Regular, sans-serif;
$raleway-regular : Raleway Regular, sans-serif;