footer
    .container.container--footer
        .footer__twitter-post.twitter-post
            .twitter-post__header
                .twitter-post__header-logo
                    img(src="img/twitter-logo-footer.svg" alt="Twitter logo")
                .twitter-post__header-container
                    .twitter-post__header-title
                        | @saltgroup
                    .twitter-post__header-subtitle
                        | Twitter feed
            .twitter-post__main
                .twitter-post__item
                    .twitter-post__item-text
                        span Experience more with expanded Tweets
                        br
                        a(href="#") http://testing123.com.au
                    .twitter-post__item-date
                        | 18 hours ago
                .twitter-post__item
                    .twitter-post__item-text
                        span Tailored Trends bring you closer
                        br
                        a(href="#") http://-testing123.com.au
                    .twitter-post__item-date
                        | 12 June 2016
                .twitter-post__item
                    .twitter-post__item-text
                        span Our new nest.
                        | 
                        a(href="#") http://-testing123.com.au
                    .twitter-post__item-date
                        | 11 June 2016
        .footer__list-container
            ul.footer__list
                .footer__list-title
                    | Navigation
                li.footer__list-item
                    a(href="#")
                        | Home
                li.footer__list-item
                    a(href="#")
                        | Products
                li.footer__list-item
                    a(href="#")
                        | Services
                li.footer__list-item
                    a(href="#")
                        | Resources
                li.footer__list-item
                    a(href="#")
                        | About
                li.footer__list-item
                    a(href="#")
                        | Contact us
            ul.footer__list
                .footer__list-title
                    | Links
                li.footer__list-item
                    a(href="#")
                        | Disclaimer
                li.footer__list-item
                    a(href="#")
                        | Legal
                li.footer__list-item
                    a(href="#")
                        | Environment policy
                li.footer__list-item
                    a(href="#")
                        | Privacy
            ul.footer__list
                .footer__list-title
                    | Contact sales
                li.footer__list-item
                    .footer__phone PHONE:
                        span +61 3 9614 4416
                li.footer__list-item
                    .footer__email EMAIL:
                        span sales@saltgroup.com.au
    .footer__logo
        img(src="img/salt-footer-logo.svg", alt="Salt logo")