header
    .container.container--nav
        nav
            .nav__logo
                a(href="#")
                    img(src="img/Salt.svg" alt="Brand logo")
            .nav__toggler
                span
            .nav__menu
                ul.nav__menu-list
                    li.nav__menu-list-item
                        a(href="#")
                            | Home
                    li.nav__menu-list-item
                        a(href="#")
                            | Products
                    li.nav__menu-list-item
                        a(href="#")
                            | Services
                    li.nav__menu-list-item
                        a(href="#")
                            | Resources
                    li.nav__menu-list-item
                        a(href="#")
                            | About
                    li.nav__menu-list-item
                        a(href="#")
                            | Contact us
    .container.container--landing-slider
        .header__landing-slider.landing-slider
            .landing-slider__line
                .landing-slider__item
                    .container.container--slider-item
                        .header__landing-container
                            .header__landing-left.landing-left
                                h1.landing-left__title
                                    | Device Authentication
                                p.landing-left__text
                                    | SALT Group is a world leader in  authentication and security. We have
                                    br
                                    | a range of services to improve user authentication.
                                    br
                                    | Discover the possibilities with SALT.
                                button.landing-left__btn
                                    | GET STARTED
                            .header__landing-right.landing-right
                                img(src="img/Twitter.svg" alt="Twitter logo")
                .landing-slider__item
                    .container.container--slider-item
                        .header__landing-container
                            .header__landing-left.landing-left
                                h1.landing-left__title
                                    | Device Authentication
                                p.landing-left__text
                                    | SALT Group is a world leader in  authentication and security. We have
                                    br
                                    | a range of services to improve user authentication.
                                    br
                                    | Discover the possibilities with SALT.
                                button.landing-left__btn
                                    | GET STARTED
                            .header__landing-right.landing-right
                                img(src="img/Twitter.svg" alt="Twitter logo")
                .landing-slider__item
                    .container.container--slider-item
                        .header__landing-container
                            .header__landing-left.landing-left
                                h1.landing-left__title
                                    | Device Authentication
                                p.landing-left__text
                                    | SALT Group is a world leader in  authentication and security. We have
                                    br
                                    | a range of services to improve user authentication.
                                    br
                                    | Discover the possibilities with SALT.
                                button.landing-left__btn
                                    | GET STARTED
                            .header__landing-right.landing-right
                                img(src="img/Twitter.svg" alt="Twitter logo")

            .landing-slider__dots
                .landing-slider__dots-item.active
                .landing-slider__dots-item
                .landing-slider__dots-item
    .container.container--landing-arrow
        .header__landing-arrow.landing-arrow
            .landing-arrow__text
                | FIND OUT MORE
            .landing-arrow__btn
                a(href="#find-out-more")
                    img(src="img/Arrow-down.svg" alt="Arrow down")
