.product-spotlight__popup
    .product-spotlight__popup-body
        .product-spotlight__popup-content
            .product-spotlight__popup-close(href="#")
            video.product-spotlight__popup-video(src="video/popup-video.mp4" controls preload="auto")