section.product-spotlight
    .container.container--product-spotlight
        .product-spotlight__left
            .product-spotlight__title
                | Product Spotlight
            .product-spotlight__description
                | Salt mSign Connected Token is a contemporary mobile security 2FA token for authentication of user identity and verification of transactions independent of the delivery channel that initiated the request.
            button.product-spotlight__btn
                | More info
        .product-spotlight__right
            .product-spotlight__player-preview
                .product-spotlight__player-open-btn.player-open-btn
                    img(src='img/play-btn.svg')
                    .player-open-btn__text
                        | Feature video
                    .player-open-btn__second-text
                        | mSign Connected token
        button.product-spotlight__more-info
            | More info
    include player-popup