section.what-we-do
    .container.container--what-we-do
        .what-we-do__title
            | What we do
        .what-we-do__list
            .what-we-do__list-wrapper
                .what-we-do__list-item.what-we-do__list-item--device-auth.what-we-do__item
                    .what-we-do__item-img
                        img(src="img/what-we-do-img1.svg" alt='Phone behind which gear')
                    .what-we-do__item-title
                        | Device Authentication
                    .what-we-do__item-description
                        | Hardware-based device fingerprinting resilient to cloning, malware and device jailbreak/root. Hardware-level control over the displayed UI independent of the device operating system. Hardware-level data protection.
            .what-we-do__list-wrapper
                .what-we-do__list-item.what-we-do__list-item--user-authentication.what-we-do__item
                    .what-we-do__item-img
                        img(src="img/what-we-do-img2.svg" alt='Finger presses on the tablet')
                    .what-we-do__item-title
                        | User Authentication
                    .what-we-do__item-description
                        | Verify the identity of users for access control with contemporary biometric connected MFA security tokens.
            .what-we-do__list-wrapper
                .what-we-do__list-item.what-we-do__list-item--transaction-authentication.what-we-do__item
                    .what-we-do__item-img
                        img(src="img/what-we-do-img3.svg" alt='Computer with bank card hacking protection')
                    .what-we-do__item-title
                        | Transaction Authentication
                    .what-we-do__item-description
                        | High assurance out-of-band authentication of high impact transactions and instructions initiated through electronic service delivery channels. Audit trail of verification for non-repudiation. Fraud protection against man-in-the-middle and browser malware.
            .what-we-do__list-wrapper
                .what-we-do__list-item.what-we-do__list-item--authentication-methods.what-we-do__item
                    .what-we-do__item-img
                        img(src="img/what-we-do-img4.svg" alt='Phone behind which gear')
                    .what-we-do__item-title
                        | Contemporary authentication methods
                    .what-we-do__item-description
                        | Echidna authentication server to enable adaptive risk-based approach to security through a range of methods for different levels of authentication assurance from SMS OTPs, Challenge/Response, to more contemporary QR code signing and advanced connected mobile security tokens capable of transaction signatures with dynamic linking of the transaction context and addition of PIN, Fingerprint and other biometrics.
            .what-we-do__list-wrapper
                .what-we-do__list-item.what-we-do__list-item--hsm-solutions.what-we-do__item
                    .what-we-do__item-img
                        img(src="img/what-we-do-img5.svg" alt='Finger presses on the tablet')
                    .what-we-do__item-title
                        | HSM Solutions
                    .what-we-do__item-description
                        | Reseller of Thales nShield HSMs with professional services and subject matter expertise in HSMs, key ceremony procedures, and SEE code development.
            .what-we-do__list-wrapper
                .what-we-do__list-item.what-we-do__list-item--security.what-we-do__item
                    .what-we-do__item-img
                        img(src="img/what-we-do-img6.svg" alt='Computer with bank card hacking protection')
                    .what-we-do__item-title
                        | Cloud & IoT Security
                    .what-we-do__item-description
                        | Secure the identity and access of users, devices and Internet of Things connecting into the cloud. Support cloud adoption and migration of applications and data into private and public clouds.

