doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Title
        link(rel="stylesheet", href="css/style.min.css")
        script(src="js/main.js")
    body
        block page